.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding: 25px 35px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #121212;


    div:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;

        p {
            cursor: pointer;
        }
    }

    div:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 170px;

        a {
            background-color: #5664f5;
            padding: 5px 15px;
            cursor: pointer;
            border-radius: 10px;
        }
    }
}