.actorsBlock {
    background-color: #1a1a1a;
    padding: 15px 35px;

    .title {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 10px;
    }
}


.actors {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    white-space: nowrap;
}

/* Стили для блоков */
.actor {
    flex: 1 2 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;

    }
    
    a {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: clamp(1.25rem, 1.75vw, 2.25rem);
    }
}


.actorBlock {
    padding: 15px 45px;
    background-color: #1a1a1a;
    display: flex;
    gap: 35px;
    
    img {
        width: 350px;
        border-radius: 15px;
    }
}

.knownformovie {

    img {
        width: 100%;
        max-width: 150px;
    }
}

.rightBlock {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.known_for {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
        font-weight: 700;
        font-size: 32px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    justify-content: start;
    width: 90%;

    p:nth-of-type(1) {
        font-weight: 700;
        font-size: 38px;
    }

    p:nth-of-type(2) {
        font-weight: 500;
        font-size: 28px;
    }

    p:nth-of-type(3) {
        font-weight: 400;
        font-size: 18px;
    }
}

.mvs {
    display: flex;
    align-items: center;
    gap: 15px;
}

.personalInfo {
    font-weight: 700 !important;
    font-size: 36px !important;
}

.leftBlock {

    span {
        font-weight: 700;
        font-size: 24px;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.actingArt {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
        font-weight: 700;
        font-size: 32px;
    }
}

.filmCred {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.everyMovie {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #555;
    padding: 15px;
    width: 80%;

    img {
        width: 100px;
    }
}

@media (max-width: 1200px) {
    .actor {
        flex: 1 1 250px;
        /* Блоки уменьшаются до 180px */
    }
}

@media (max-width: 992px) {
    .actor {
        flex: 1 1 200px;
        /* Блоки уменьшаются до 150px */
    }
}

@media (max-width: 768px) {
    .actor {
        flex: 1 1 120px;
        height: 100%;
    }
}